{% extends "app/Base.html" %}
{% block content %}
<div style="margin-bottom: 20px; display: flex; justify-content: flex-end;">
        <form method="GET" action="{% url 'listarProductos' %}" style="display: flex; gap: 10px; margin: 0; padding: 0; width: 100%; max-width: 450px; background: transparent; border: none;">
            
            <input type="text" name="q" value="{{ q }}" placeholder="Buscar por nombre..." style="flex: 1;">
            <button type="submit" style="white-space: nowrap;">Buscar</button>
            
            {% if q %}
                <a href="{% url 'listarProductos' %}" class="btn btn-secondary">Limpiar</a>
            {% endif %}
            
        </form>
    </div>
    <div class="productos-grid">
        {% for p in productos  %}
            <div class="producto-card">
                <img src="{{ p.imagen_url }}" alt="{{ p.nombre }}" class="producto-img">
                <div class="producto-body">
                    <h3 class="producto-nombre">{{ p.nombre }}</h3>
                    <p class="producto-precio">Bs. {{ p.precio }}</p>
                    <p class="producto-categoria">{{ p.id_categoria.nombre }}</p>
                    <div class="producto-acciones">
                        {% if request.session.usuario_rol == 'admin' %}
                            <a href="{% url 'editarProducto' p.id_producto %}" class="btn">Editar</a>
                            <a href="{% url 'eliminarProducto' p.id_producto %}" class="btn btn-secondary">Eliminar</a>
                        {% endif %}
                        {% if request.session.usuario_rol == 'trabajador' %}
                            <a href="{% url 'agregarAlCarrito' p.id_producto %}" class="btn">Agregar al carrito</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}


